<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link  rel="stylesheet" type="text/css" href="../../Css/style.css" />
    </head>
    <body>
        <div class="page-area">
            <h1>SISTEMA DE LOCAÇÃO DE IMOVEIS</h1>
            <div class="page-content">
                <form name="login" action="../../Controller/Sessao/logar.jsp" method="post">

                    <div class="form-group">
                    <label>Usuario</label><br/>
                    <input type="text" name="usuario"/><br/><br/>
                    </div>

                    <div class="form-group">            
                    <label>Senha</label><br/>
                    <input type="password" name="senha"/><br/><br/>
                    </div>

                    <button type="submit">ACESSAR</button>
                </form>
            </div>
        </div>
    </body>
</html>
